body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #38383b;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007acc;
}

button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f99;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    border: 1px solid #c41e1e;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #007acc;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: underline;
}